footer {
    background-color: #FFF;
    color: #8A8A8A;
    padding: 25px;
    text-align: center;
    border-top: 1px solid #eee;
}

footer > a {
        text-decoration: none;
        color: #4384E6;
    }

footer > a:hover {
            color: grey;
    }