
.vignette-oeuvre > p, div[class*="cms-plugin-galerie-oeuvre-titre"]{
	margin-right: 5px;
	float: left;
	width: 120px;
}
.vignette-oeuvre > a > i, div[class*="cms-plugin-galerie-oeuvre-titre"]{

	margin-top: 16px;
	margin-bottom: 16px;
 
}

.pure-menu-item.active{
    background: #ddd;
}


.main{
	min-height: 1000px;
}

.nav {
	color: #000;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	padding-left: 0;

}


.nav a {
	color: inherit;
	text-decoration: none;
}


.nav li > ul {
	background: #ddd;
	display: none;
	left: 0;
	margin-left: 0;
	padding: 0;
	position: absolute ;
	top: 40px;
	width: 200px;

}

.nav ul > li {
	width: 100%;
}

.nav li{
	display: inline-block;
	padding-right: 10px; 
	padding-left: 10px
}
.nav li.selected, .nav li.ancestor {
	background: hsla(204, 16%, 66%, 0.2);
}

.nav li:hover > a {
	border-bottom-style: solid ;
}
.nav li:hover > ul {
	display: block;
}


.rubrique-list {
	list-style-type: none;
}

.rubrique-list li {
	display: inline-block;
	margin: 12px;
	width: 136px;
}

.rubrique-list .name, .rubrique-list .title,
.rubrique-detail .title {
	font-family: sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 1.25em;
	padding: 0;
	margin: 0;
}

.rubrique-list .name {
	font-weight: bold;
}

.rubrique-commentaire p {
	font-family: sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 1.25em;
	margin: 1em 0 0 0;
}

.oeuvre-detail > img {
	float: right;
	max-height: 600px;
	max-width: 800px;
	
}
.oeuvre-detail > h1 {
	padding-top: 200px;
	color: black;
	padding-left: 100px;
	
}

.oeuvre-detail > p {
	padding-left: 50px;
	line-height: 10px;
	max-width: 380px;
}


a > .fa {
  display: inline-block;
  color: grey;
  float: right;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}


.legende-oeuvre {
	max-width: 380px;
}


.legende-oeuvre > p{
	text-align: justify;
}


div[class*="cms-plugin-galerie-oeuvre-titre"]{
	text-align: center;
}

div[class*="cms-plugin-galerie-rubrique-article"] {
	letter-spacing: 0;
	text-align : justify;
} 
.pure-g > p, .pure-g > h1, .pure-g > h2 {
	letter-spacing: 0;
	text-align : justify;
}

.pure-u-1-5 {
	text-align: center;
	padding-right: 5px; 
	padding-left: 5px;
}
.pure-u-1-5 > p {
	padding-right: 30px; 
	padding-left: 30px;
}

.pure-menu-item > img{
	float: left; 
	padding-left: 10px; 
	padding-top: 7px; 
	padding-right: 7px;
}


.pagination{
	text-align: center;
}
.page-links > a {
	text-decoration: none;

	color: grey;
}

.link-previous{
	float: left;
}

.link-next{
	float: right;
	padding-right: 120px;
}

.social{
	padding-right: 400px; 
	padding-left: 200px;
	position: absolute;
}

div[class*="fb-like"] {
	padding-top: 0px;
}

 

.col {	
	display: inline-block;
	vertical-align: top;
}

div[id = "col-1"]{
	width:60%;
	*width:60%;

}

div[id = "col-2"]{
	width:30%;
	*width:30%;

}

@keyframes myAnim {
    to {
    	margin-top: 0px;
    	width: 100px;
    	height: 100px;
   	
   }


}

#signature_ann {
	margin-top: -50px;
	width: 500px;
	height: 500px;
	animation: myAnim 1s forwards;
	animation-delay: 5s;
    
}

#logo_signature_ann {
	float: left;
	width: 100px;
	height: 100px;
	margin-left: -300px;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {



}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */


.vignette-oeuvre > p, div[class*="cms-plugin-galerie-oeuvre-titre"]{
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 0px; 
	padding-left: 0px;
}
.vignette-oeuvre > a > i, div[class*="cms-plugin-galerie-oeuvre-titre"]{
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 0px; 
	padding-left: 0px;
}
#layout.active #menu {
    width: 320px;
}

#layout.active .menu-link {
    left: 250px;
}



.list-inline {
	padding-left: 0px;
}

.oeuvre-detail > img {
	width:50%;
	height:50%;
}
.legende-oeuvre {
	padding-right: 0px;
	max-width: 100px;
}


.legende-oeuvre > p {
	text-align: center;
}
.social{
	padding: 0px;
}


}/*responsiv max-width: 48em*/

