{% load cms_tags menu_tags sekizai_tags staticfiles rubrique_index %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block meta %} {% endblock meta %} 
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "css/layouts/side-menu.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "css/layouts/pure-min.css"%}">
        <link rel="stylesheet" href="{% static "css/lightbox.min.css"%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        {% render_block "css" %}
    </head>

    <body>
        {% cms_toolbar %}
    <div id="layout">      
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>  
        <div class="main">
            
            <div class="header">
            <ul class="nav">
                    {% show_menu 0 100 100 100 %}
            </ul>                         
            </div>            
            <div id="content" class="content">

            {% block header %}{% endblock header %}
            {% block content %}{% endblock content %}
            </div>
        </div>
        <div id="menu">
                <div class="pure-menu">
                   {% show_index rubrique %}
                </div>
            </div>    
    </div>  

    <div id="footer">

        {% include "footer.html" %}      
        {% render_block "js" %}
         <script src="{% static "js/lightbox-plus-jquery.min.js"%}"></script>
          <script src="{% static "js/ui.js"%}"></script>
        
    </body>

    
        
</html>
<body>
