{% load cms_tags menu_tags sekizai_tags staticfiles rubrique_index %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block meta %} {% endblock meta %} 
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "css/footer.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "css/layouts/side-menu.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "css/layouts/pure-min.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "css/lightbox.min.css"%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        {% render_block "css" %}
    </head>

    <body>
        {% cms_toolbar %}

    
    <div id="layout">      
     
    
        <div class="main">
            
            <div class="header">
                <ul class="nav">
                {% show_menu 0 100 100 100 %}
                </ul>                         
            </div> 
            
               
                {% block content %}{% endblock content %}               
                {% block article %}{% endblock article %}

        </div>
    
    <footer>


        {% include "footer.html" %}      
        {% render_block "js" %}

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="{% static "js/lightbox-plus-jquery.min.js"%}"></script>
        
        <script src="{% static "js/ui.js"%}"></script>
        <script src="{% static "js/signature.js"%}"></script>        
        <script src="{% static "js/jquery.lazylinepainter-1.7.0.min.js"%}"></script>

        
        <script type="text/javascript">
            lightbox.option({
                'resizeDuration': 200,
                'wrapAround': true,
                'showImageNumberLabel' : false,
            })

           
            </script>

        </footer> 
    </div>  






    
        
</html>
