{% extends "base_without_rub.html" %}
{% load cms_tags sekizai_tags staticfiles thumbnail %}

{% block content %}
<div id="content" class="content">
{% if page_obj.has_previous %}
{% else %}
	{% include "signature.html" %}                    
{% endif %}

	{% block header %}
	
	{% endblock header %}
	<div class="pure-g">
		{% if latest_oeuvre_list %}
		    
		    {% for oeuvre in latest_oeuvre_list|slice:":16" %}
			    <div class="pure-u-1-5">
			    {% if oeuvre.photo %}
				    {% thumbnail oeuvre.photo '180x180' crop subject_location=oeuvre.photo.subject_location as photo %}
				
					    <a href="{{ oeuvre.photo.url }}" data-lightbox="oeuvre.rubrique" data-title="<a href={{ oeuvre.get_absolute_url }}>{{ oeuvre.titre }}</a>">
					    	<img class="pure-img-responsive"  src="{{ photo.url }}"  alt="">
					    </a>
				{% else %}
					<div class=vignette-oeuvre style="padding-top: 10px">
						<a href="{{ oeuvre.get_absolute_url }}">
						<p>{% render_model oeuvre "titre" style %}</p>
						</a>
					</div>
				{% endif %}                   
				</div>
		    {% endfor %}
		{% else %}
		    <p>Aucune oeuvre n'existe.</p>
		{% endif %}
	</div>

</div>
{% endblock content %}
