{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles thumbnail rubrique_index %}


{% block menu_rub %}
<div class="pure-menu-active">

{% show_index rubrique %}
</div>
{% endblock menu_rub %}

{% block content %}
<div id="content" class="content">

	{% block header %}
	<h1>Les oeuvres</h1>
	{% endblock header %}
	<div class="pure-g">
		{% if latest_oeuvre_list %}		    
		    {% for oeuvre in latest_oeuvre_list|slice:":16" %}
		    <div class="pure-u-1-5">

		    {% if oeuvre.photo %}	
		    {% thumbnail oeuvre.photo '180x180' crop subject_location=oeuvre.photo.subject_location as photo %}
			    <a href="{{ oeuvre.photo.url }}" data-lightbox="oeuvre.rubrique" data-title="<a href={{ oeuvre.get_absolute_url }}>{{ oeuvre.titre }}</a>">
			    	<img class="pure-img-responsive"  src="{{ photo.url }}"  alt="">
			    </a>			                   
			
			{% else %}
				<a href="{{ oeuvre.get_absolute_url }}">
			    	<img class="pure-img-responsive"  src="https://cdn4.iconfinder.com/data/icons/eldorado-layout/40/text_center-512.png"  alt="" height="180" width="180">
			    </a>

			{% endif %}

			</div>
		    {% endfor %}
		{% else %}
		    <p>Aucune oeuvre n'existe.</p>
		{% endif %}
	</div>

</div>
{% endblock content %}
